app:
  image: ibmcom/swift-ubuntu:5.0
  ports:
    - "8080:8080"
  volumes:
    - .:/swift-helloworld
  command: bash -c "cd /swift-helloworld && swift package --build-path .build-ubuntu clean && swift build --build-path .build-ubuntu && .build-ubuntu/x86_64-unknown-linux/debug/Server"
